@()
<!doctype html>
<html lang="en" data-framework="angular2">
  <head>
    @* in this version of the application the typescript compilation is done in the browser *@
  <meta charset="utf-8">
  <title>React</title>
  <script src='@routes.Assets.versioned("lib/core-js/index.js")'></script>
  <script src='@routes.Assets.versioned("lib/react/dist/react.js")'></script>
  <script src='@routes.Assets.versioned("lib/react-dom/dist/react-dom.js")'></script>
  <script src='@routes.Assets.versioned("lib/systemjs/dist/system.js")'></script>

  </head>
  <body>
<div id="root"></div>
    <script>
			System.config({
			    baseURL: 'assets',
      });
      System.import('app/bootstrap')
        .then(null, console.error.bind(console));
                    </script>
  </body>
</html>
